/* Global Layout Set-up */
/* { 
  box-sizing: border-box;
}
*/
body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  color: #254055;
  background: rgba(104, 150, 153, 0.6);
}
/* Link Styles */

a {
  text-decoration: none;
  color: rgba(239, 239, 239, 0.6);
}
a:hover {
  color: #689699;
}

/* Section Styles */

.main-nav {
  width: 100%;
  background:rgba(18, 60 , 74 , 0.7);
  min-height: 25px;
  padding: 10px;
  position: fixed;
  text-align: center;
}
.nav {
  display: flex;
  justify-content: space-around;
  font-weight: 700;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}
.nav .name {
    display: block;
    margin-right: auto;
    color: white;
    font-weight: bold;
}
.nav li {
  padding: 8px 10px 10px 10px;
}
.nav a {
  transition: all .5s;
}
.nav a:hover {
  color: white
}
header {
  text-align: center;
  background: url('images/web-design-2038872_1920.jpg') no-repeat top center;
  background-size: cover;
  overflow: visible;
  padding-top: 40px;
}
header {
  line-height: 1.5;
}
header .profile-image {
  margin-top: 50px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px solid rgba(84, 128, 137, 1.0);
  transition: all .5s;
  background-color: rgba(170, 179, 180, 0.6);
}
header .profile-image:hover {
  transform: scale(1.2) rotate(1deg);
}
.tag {
  color: #efefef;
  padding: 10px;
  border-radius: 5px;
  display: table;
  margin: 10px auto;
  font-size: 20px;
} 
.location {
  background-color: rgba(239, 239, 239, 0.7);
  color: #254055;
  border: 1px solid rgba(245, 244, 244 , 0.2);
  font-size: 14px;
}
.float {
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: flex;
  margin: 40px;
  padding: 40px 40px 40px;
  max-width: 1000px;
  text-align: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  flex-direction: column;
  margin: 0 auto;
}
.fullimage {
  text-align: center;
  background: url('images/CupcakeApp_alt.jpg') no-repeat top center;
  background-size: cover;
  overflow: visible;
  padding: 40px 40px 40px;
}
.contentbackground {
  background-color: rgba(239, 239, 239, 0.6);
  padding: 40px 40px 40px;
}
.contentbackground2 {
  background-color: rgba(66, 127, 137, 0.2);
  padding: 20px 20px 20px 0;
}
.card {
  margin: 10px 20px 40px 20px;
  padding: 20px 40px 20px;
  max-width: 900px;
  text-align: left;
  background: rgba(239, 239, 239, 0.6);
  box-shadow:  5px 10px rgba(37, 64, 85, 0.3);
  border: 1px solid rgba(245, 244, 244 , 0.4);
  border-radius: 6px;
  transition: all .5s;
}
.card:hover {
  border-color: rgba(71, 120, 158, 0.6);
}
.card2 {
  margin: 10px 20px 40px 20px;
  padding: 20px 40px 20px;
  min-width: 300px;
  max-width: 800px;
  text-align: left;
  background: rgba(239, 239, 239, 0.6);
  box-shadow: 5px 10px rgba(37, 64, 85, 0.3);
  border: 1px solid rgba(245, 244, 244 , 0.4);
  border-radius: 6px;
  transition: all .5s;
}
.card2:hover {
  border-color: rgba(71, 120, 158, 0.6);
}
table{
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
tr, td {
  text-align: left;
  padding: 10px;
}
tr:nth-child(1) {
  height: 10px;
}
tr:nth-child(2) {
  height: 10px;
}
tr:nth-child(3) {
  height: 10px;
}
th:nth-child(1) {
  width: 175px;
}
th:nth-child(2) {
  width: 650px;
}
th:nth-child(3) {
  width: 0px;
}
ul.skills {
  padding: 0;
  text-align: left;
}
.skills li {
  border-radius: 6px;
  display: inline-block;
  background: rgba(84, 128, 137, 0.6);
  color: white;
  padding: 5px 10px;
  margin: 2px;
}
.skills li:nth-child(odd) {
  background: rgba(18, 60 , 74 , 0.5);
}
ul.journey {
  padding: 10px;
  text-align: center;
  list-style-type: none;
  align-content: center;
}
.journey li {
  display: inline-table;
  padding: 20px 20px 20px 40px; 
}
footer {
  width: 100%;
  min-height: 10px;
  padding: 40px 0 10px 10px;
}
footer .copyright {
  top: -8px;
  font-size: .75em;
}
footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
footer ul li {
  display: inline-block;
}
a.social {
  display: inline-block;
  text-indent: -9999px;
  margin-left: 5px;
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  opacity: .4;
  transition: all .5s;
}
a.twitter {
  background-image: url(images/twitter_sm.png);
}
a.linkedin {
  background-image: url(images/linkedin_sm.png);
}
a.github {
  background-image: url(images/github_sm.png);
}
a.social:hover {
  opacity: 1;
}
.clearfix {
  clear: both;
}

/* Styles for larger screens */
@media screen and (min-width: 720px) {
  
  .flex {
      display: -ms-flexbox;      /* TWEENER - IE 10 */
      display: flex; 
      max-width: 1200px;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      margin: 0 auto;
  }

  header {
    min-height: 400px;
  }

  .nav {
    max-width: 1200px;
    padding: 0 30px;
  }


  main {
    padding-top: 20px;
  }

  main p {
    line-height: 1.6em;
  }

  footer {
    font-size: 1.3em;
    max-width: 1800px;
    margin: 0px auto;
  }

}

